/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
/* @custom-variant: 특정 접두사(dark:)를 생성 */
/* @variant: 특정 변형(ex: hover: dark: ...)을 지원하도록 만드는 키워드이며, class내에서 작성해야함*/
/* prefix: class에 접두사를 붙임 (tallwindcss불러온거는 tw로 부르겠다는의미)*/
@import "tailwindcss" prefix(tw);
/* theme 적용 (dark,light) class */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-service-primary: oklch(60.7% 0.213 262.2);
  --color-service-secondary: oklch(69.7% 0.16 258.2);
  --color-service-white: oklch(98.5% 0 0);
  --color-service-gray: oklch(70.2% 0.025 285.7);
  --color-service-black: oklch(13.7% 0.009 285.1);
  --color-service-green: oklch(78.5% 0.216 149.6);
  --color-service-red: oklch(62.2% 0.242 29.8);

  --color-linear1: oklch(70.2% 0.025 285.7);

  --theme-light1: oklch(98.5% 0 0);
  --theme-light2: oklch(91.7% 0.007 286.3);
  --theme-light3: oklch(70.2% 0.025 285.7 / 0.2);

  --theme-dark1: oklch(17% 0.006 285.7);
  --theme-dark2: oklch(20.7% 0.01 285.5);
  --theme-dark3: oklch(27.1% 0.011 285.6 / 0.2);
}

@layer base {
  body {
    @apply tw:font-mono tw:antialiased;

    background-color: var(--theme-light1);
    color: var(--color-service-black);
    @variant dark {
      background-color: var(--theme-dark1);
      color: var(--color-service-white);
    }
  }
}

@theme {
  /* 서비스 색상 */
  --color-service-primary: var(--color-service-primary);
  --color-service-secondary: var(--color-service-secondary);
  --color-service-white: var(--color-service-white);
  --color-service-gray: var(--color-service-gray);
  --color-service-black: var(--color-service-black);
  --color-service-green: var(--color-service-green);
  --color-service-red: var(--color-service-red);
  --color-linear1: var(--color-linear1);

  /*
    [반응형]
    Html: 기본값 16px 기준
    sm: 40rem(640px) 이상 ~ max-sm: 이하
    md: 48rem(768px) 이상 ~ max-md: 이하
    lg: 64rem(1024px) 이상 ~ max-lg: 이하
    xl: 80rem(1280px) 이상 ~ max-xl: 이하
    2xl: 96rem(1536px) 이상 ~ max-2xl: 이하
*/

  /* 
    [container]
    @3xs	16rem (256px)	@container (width >= 16rem) { … }
    @2xs	18rem (288px)	@container (width >= 18rem) { … }
    @xs	    20rem (320px)	@container (width >= 20rem) { … }
    @sm	    24rem (384px)	@container (width >= 24rem) { … }
    @md	    28rem (448px)	@container (width >= 28rem) { … }
    @lg	    32rem (512px)	@container (width >= 32rem) { … }
    @xl	    36rem (576px)	@container (width >= 36rem) { … }
    @2xl	42rem (672px)	@container (width >= 42rem) { … }
    @3xl	48rem (768px)	@container (width >= 48rem) { … }
    @4xl	56rem (896px)	@container (width >= 56rem) { … }
    @5xl	64rem (1024px)	@container (width >= 64rem) { … }
    @6xl	72rem (1152px)	@container (width >= 72rem) { … }
    @7xl	80rem (1280px)	@container (width >= 80rem) { … }

   */

  /* 글자크기, 글자굵기, 글자간격, 줄간격 */
  /* --spacing: 0.25rem(4px); */
  /* shadow */
  /* animation */
}

@utility theme-shade1 {
  background-color: var(--theme-light1);
  @variant dark {
    background-color: var(--theme-dark1);
  }
}

@utility theme-text {
  color: var(--color-service-black);
  @variant dark {
    color: var(--color-service-white);
  }
}
